<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>CardType</key>
		<array>
			<dict>
				<key>title</key>
				<string>American Express</string>
				<key>image</key>
				<string>american_express</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Diners Club</string>
				<key>image</key>
				<string>diners_club</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Discover</string>
				<key>image</key>
				<string>discover</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Electron</string>
				<key>image</key>
				<string>electron</string>
			</dict>
			<dict>
				<key>title</key>
				<string>JCB</string>
				<key>image</key>
				<string>jcb</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Maestro</string>
				<key>image</key>
				<string>maestro</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Mastercard</string>
				<key>image</key>
				<string>mastercard</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Visa</string>
				<key>image</key>
				<string>visa</string>
			</dict>
		</array>
	</dict>
	<key>rexandname</key>
	<array>
		<dict>
			<key>title</key>
			<string>American Express</string>
			<key>rex</key>
			<string>^3[47][0-9]{5,}$</string>
			<key>image</key>
			<string>american_express</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Diners Club</string>
			<key>rex</key>
			<string>^3(?:0[0-5]|[68][0-9])[0-9]{4,}$</string>
			<key>image</key>
			<string>diners_club</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Discover</string>
			<key>rex</key>
			<string>^6(?:011|5[0-9]{2})[0-9]{3,}$</string>
			<key>image</key>
			<string>discover</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Electron</string>
			<key>rex</key>
			<string>^(4026|417500|4405|4508|4844|4913|4917)$*Electron</string>
			<key>image</key>
			<string>electron</string>
		</dict>
		<dict>
			<key>title</key>
			<string>JCB</string>
			<key>rex</key>
			<string>^(?:2131|1800|35[0-9]{3})[0-9]{3,}$</string>
			<key>image</key>
			<string>jcb</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Maestro</string>
			<key>rex</key>
			<string>^(5018|5020|5038|5612|5893|6304|6759|6761|6762|6763|0604|6390)$</string>
			<key>image</key>
			<string>maestro</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Mastercard</string>
			<key>rex</key>
			<string>^5[1-5][0-9]{5,}$</string>
			<key>image</key>
			<string>mastercard</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Visa</string>
			<key>rex</key>
			<string>^4[0-9]{6,}$</string>
			<key>image</key>
			<string>visa</string>
		</dict>
	</array>
</dict>
</plist>
